<html lang="en">

<head>
    <script async defer data-website-id="7befcd2b-ccde-4aad-a94e-3da6332f856a"
        src="https://umami-analytics-for-me.herokuapp.com/umami.js"></script>

    <title>Rate My Landlord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/teddy.svg" type="image/x-icon" />.
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include("../partials/navbar"); %>