<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/"><img src="/img/teddy.svg" alt="Brand image" height="40px"
            width="50px">RateMyLandlord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/landlords">Landlords</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/landlords/addReview">Review a Landlord <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Find
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/landlords/type/apartments">Apartments</a>
                    <a class="dropdown-item" href="/landlords/type/houses">Houses</a>
                    <a class="dropdown-item" href="/landlords/type/rooms">Rooms</a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>

            <% if (user) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/landlords/new">Add Landlord <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Log Out</a>
                </li>
                <% } else {%>
                    <li class="nav-item">
                        <!-- <a class="nav-link disabled" href="/signup" tabindex="-1" aria-disabled="true">Sign Up</a> -->
                        <a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup" tabindex="-1" aria-disabled="true">Sign Up</a>
                    </li>
                    <% } %>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/landlords/search" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="term" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container mt-2">
    <% if (successMessage && successMessage.length> 0) { %>
        <div class="alert alert-success fade show" role="alert">
            <%= successMessage %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
        </div>
        <% } %>
            <% if (errorMessage && errorMessage.length> 0) { %>
                <div class="alert alert-warning fade show" role="alert">
                    <%= errorMessage %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                </div>
                <% } %>
</div>