<%- include('partials/header') %>

    <body>
        <div class="container mt-2">

            <h1>
                Welcome, <%= user.username %>.
            </h1>

            <p>
                Account information HERE...
            </p>

            <div>
                <form action="/accounts/<%=user._id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete account</button>
                </form>
            </div>
        </div>
    </body>

    <%- include('partials/footer') %>