<%- include('partials/header') %>

    <div class="container">
        <h1>Add New Comment</h1>
        <form action="/landlords/<%= landlordId %>/comments" method="POST">
            <!-- <div class="form-group">
            <label for="user">Username</label>
            <input type="text" name="user" id="user" class="form-control" placeholder="Username" required autofocus>
        </div> -->
            <div class="form-group">
                <textarea class="form-control" name="text" id="text" cols="80" rows="8"
                    placeholder="Comment text here..." required></textarea>
            </div>
            <input type="hidden" name="landlordId" value="<%= landlordId %>">
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    </div>

    <%- include('partials/footer') %>