<%- include("partials/header") %>

    <link rel="stylesheet" href="/css/landing.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>
        let map, infoWindow, service, geocoder;

        // Convert to json and string for string browser
        let landlords = '<%- JSON.stringify(landlords) %>';
        // Convert to object again to work with
        landlords = JSON.parse(landlords);
        // console.log(typeof landlords)
        // console.log(landlords)

        function initMap() {
            let startLocation = new google.maps.LatLng(44.6046, -123.2620);

            map = new google.maps.Map(document.getElementById("map"), {
                center: startLocation,
                zoom: 15,
                mapTypeId: "roadmap",
            });

            geocoder = new google.maps.Geocoder();
            codeAddress(geocoder, map);

            function codeAddress(geocoder, map) {
                for (let i = 0; i < landlords.length; i++) {
                    // console.log(landlords[i].name, landlords[i].address);
                    geocoder.geocode({ 'address': landlords[i].address }, function (results, status) {
                        if (status === 'OK') {
                            map.setCenter(results[0].geometry.location);
                            var marker = new google.maps.Marker({
                                map: map,
                                animation: google.maps.Animation.DROP,
                                position: results[0].geometry.location
                            });
                            var infowindow = new google.maps.InfoWindow({
                                content: landlords[i].name + '<br>' + landlords[i].address
                            });
                            marker.addListener("click", toggleBounce);

                            function toggleBounce() {
                                if (marker.getAnimation() !== null) {
                                    marker.setAnimation(null);
                                    infowindow.close(map, marker);
                                } else {
                                    marker.setAnimation(google.maps.Animation.BOUNCE);
                                    infowindow.open(map, marker);
                                }
                            }

                        } else {
                            console.log("No address for: ", landlords[i].name);
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });
                }
            }

            // get info for current location
            infoWindow = new google.maps.InfoWindow();
            const locationButton = document.getElementById("button");
            locationButton.addEventListener("click", () => {
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            infoWindow.setPosition(pos);
                            infoWindow.setContent("Your Location.");
                            infoWindow.open(map);
                            pos.lat += .04; // give some room to see location
                            map.setCenter(pos, 12);
                        },
                        () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }

        function placeMarker(map, location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: location.name + '<br>Address: ' + location.address
            });
            infowindow.open(map, marker);
        }

    </script>

    <div class="container align-bottom" id="landing-container">
        <h2>Welcome to RateMyLandlord.</h2>
        <p>Look up what other people think of their landlords or sign in to add your own.
        </p>

        <button type="button" id="button" class="btn btn-primary btn-lg">Explore landlords near me</button>
    </div>
    <div id="map">
    </div>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%=KEY%>&callback=initMap&libraries=places&v=weekly"></script>

    <%- include("partials/footer") %>