<%- include('partials/header') %>

    <div class="container">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <input type="email" name="email" placeholder="email" required>
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Sign Up</button>
        </form>
    </div>

    <%- include('partials/footer') %>